@model EShop.Models.Products.ProductCreateEditVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ProductModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Materials, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Materials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Materials, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="TypeId">Type</label>
        <div class="col-md-10">
            <select class="form-control valid" id="TypeId" name="TypeId" aria-invalid="false">
                @foreach (var type in ViewBag.types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="TypeId" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="SubtypeId">Subtype</label>
        <div class="col-md-10">
            <select class="form-control valid" id="SubtypeId" name="SubtypeId" aria-invalid="false">
                @foreach (var subtype in ViewBag.subtypes)
                {
                    <option value="@subtype.Id">@subtype.Name</option>
                }
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="SubtypeId" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="TradeMarkId">TradeMark</label>
        <div class="col-md-10">
            <select class="form-control valid" id="TradeMarkId" name="TradeMarkId" aria-invalid="false">
                @foreach (var tradeMark in ViewBag.tradeMarks)
                {
                    <option value="@tradeMark.Id">@tradeMark.Name</option>
                }
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="TradeMarkId" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Sizes">Sizes</label>
        <div class="col-md-10">
            <select class="form-control valid" id="Sizes" name="Sizes" aria-invalid="false" multiple>
                @foreach (var size in ViewBag.Sizes)
                {
                    <option value="@size.Id">@size.Name</option>
                }
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="SizeModels" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Image</label>
        <div class="editor-field">
            <input type="file" name="upload" required/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#TypeId').change(function() {
            var id = $(this).val();

            console.log("1");
            var url = document.location.origin + "/Admin/Subtypes/GetSubtypes?typeId=" + id;
            console.log(url);
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            console.log(token);

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    __RequestVerificationToken: token
                },
                success: function (data) {

                    var options = [];
                    data.forEach(function(element) {
                        var option = document.createElement("option")
                        option.value = element.Id;
                        option.innerHTML = element.Name;
                        options.push(option);
                    });

                    $("#SubtypeId").empty();
                    $('#SubtypeId').append(options);
                }
            });
        });
    </script>
}