@model EShop.Models.Products.ProductVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubtypeModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtypeModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeMarkModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeMarkModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.Raw("<img style='width:80px; height:60px;' src=/Pictures/" + Model.PictureName + " />")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
