@model EShop.Models.Products.ProductVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtypeModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtypeModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeMarkModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeMarkModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sizes)
        </dt>

        <dd>
            @foreach (var size in Model.Sizes)
            {
                <span>@size.Name</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.Raw("<img style='width:80px; height:60px;' src=/Pictures/" + Model.PictureName + " />")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
